<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newEmotes</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="script" href="/js/script.js">
</head>

<body>
    <div class="emotes">
    <div class="subTable-nomination" style="float: left;">
        <h2>Nomination Emotes</h2>
        <h3 id="Nomination-sorted">Sorted by: First added </h3>
        <table id="Nomination-emoteSort">

            <tr>
                <th>Emote</th>
                <th>Emote name</th>
                <th>Nominated by</th>
                <th id="Nomination-sort-button" style="color: #3a89ff; cursor: pointer; text-align: left;" onclick="reverseNominations()">Date added ▲</th>
            </tr>
            <%emotes.reverse()%>
        <% emotes.forEach(function(emote) { %>

            <%if (emote.Type === "election") { %>
            <%emoteImage = `https://cdn.7tv.app/emote/${emote.EmoteID}/2x`%>
            <%emoteLink = `https://7tv.app/emotes/${emote.EmoteID}`%>

            <%if (emote.EmoteCode === "dankHug") { %>
                <%emoteImage = "https://cdn.7tv.app/emote/616edc115ff09767de29919b/2x" %>
                <%emoteLink = `https://7tv.app/emotes/616edc115ff09767de29919b`%>
            <%}%>

            <tr>
                <td> <a href="<%= emoteLink %>"><img src="<%= emoteImage %>"> </a></td>

                <td> <p><%- emote.EmoteCode%></p> </td>
            
                <td> <p><%- emote.AddedBy%></p> </td>

                <td> <p><%- emote.CreatedAt?.split('T')[0]%></p> </td>
            </tr>
            <%}%>
        <% }) %>

        </table>
    </div>

    <div class="subTable" style="float: left;">
        <h2>Emotes Added by NymN</h2>
        <h3 id="Nymn-sorted">Sorted by: First added </h3>
        <table id="Nymn-emoteSort">

            <tr>
                <th>Emote</th>
                <th>Emote name</th>
                <th id="Nymn-sort-button" style="color: #3a89ff; cursor: pointer; text-align: left;" onclick="reverseNymn()">Date added ▲</th>

            </tr>
            <%nymnEmotes.reverse()%>
        <% nymnEmotes.forEach(function(emote) { %>
        <%emoteLink = `https://7tv.app/emotes/${emote.EmoteID}`%>

            <%emoteImage = `https://cdn.7tv.app/emote/${emote.EmoteID}/2x`%>
            <% if (!emote.EmoteID.length) { %>
                <%emoteLink = ''%>

                <%emoteImage = ''%>
                <%}%>
            <tr>
                <td> <a href="<%= emoteLink %>"><img src="<%= emoteImage %>"> </a></td>

                <td> <p><%- emote.EmoteCode%></p> </td>

                <td> <p><%- emote.CreatedAt?.split('T')[0]%></p> </td>
            
            </tr>
        <% }) %>

        </table>
    </div>

    <div class="subTable" style="float: left;">
        <h2>Emotes Added by MODS</h2>
        <h3 id="Mods-sorted">Sorted by: First added </h3>
        <table id="Mods-emoteSort">

            <tr>
                <th>Emote</th>
                <th>Emote name</th>
                <th id="Mods-sort-button" style="color: #3a89ff; cursor: pointer; text-align: left;" onclick="reverseMods()">Date added ▲</th>
            </tr>
            <%modsEmotes.reverse()%>
        <% modsEmotes.forEach(function(emote) { %>
        <%emoteLink = `https://7tv.app/emotes/${emote.EmoteID}`%>

            <%emoteImage = `https://cdn.7tv.app/emote/${emote.EmoteID}/2x`%>

            <tr>
                <td> <a href="<%= emoteLink %>"><img src="<%= emoteImage %>"> </a></td>

                <td> <p><%- emote.EmoteCode%></p> </td>

                <td> <p><%- emote.CreatedAt?.split('T')[0]%></p> </td>
            
            </tr>
        <% }) %>

        </table>
    </div>
</div>
</body>
<script>
    /* eslint-disable */

let reversed = false;

function getReversed() {
    return reversed;
}
    
    function reverseNominations() {
    let table = document.getElementById('Nomination-emoteSort'),
        newTbody = document.createElement('tbody'),
        oldTbody = table.tBodies[0],
        rows = oldTbody.rows,
        i = rows.length - 2;
        newTbody.appendChild(rows[0]);
        console.log(newTbody);
    while (i >= 0) {
        newTbody.appendChild(rows[i]);
        i -= 1;
    }

    oldTbody.parentNode.replaceChild(newTbody, oldTbody);

    reversed = (reversed) ? false : true;
    let sorted = document.getElementById('Nomination-sorted');
    let Sort = document.getElementById('Nomination-sort-button');
    if (reversed) {
        sorted.innerText = 'Sorted by: Last added';
        Sort.innerText = 'Date added ▼';
    } else {
        sorted.innerText = 'Sorted by: First added';
        Sort.innerText = 'Date added ▲';
    }
}

function reverseNymn() {
    let table = document.getElementById('Nymn-emoteSort'),
        newTbody = document.createElement('tbody'),
        oldTbody = table.tBodies[0],
        rows = oldTbody.rows,
        i = rows.length - 2;
        newTbody.appendChild(rows[0]);
        console.log(newTbody);
    while (i >= 0) {
        newTbody.appendChild(rows[i]);
        i -= 1;
    }

    oldTbody.parentNode.replaceChild(newTbody, oldTbody);

    reversed = (reversed) ? false : true;
    let sorted = document.getElementById('Nymn-sorted');
    let Sort = document.getElementById('Nymn-sort-button');
    if (reversed) {
        sorted.innerText = 'Sorted by: Last added';
        Sort.innerText = 'Date added ▼';
    } else {
        sorted.innerText = 'Sorted by: First added';
        Sort.innerText = 'Date added ▲';
    }
}

function reverseMods() {
    let table = document.getElementById('Mods-emoteSort'),
        newTbody = document.createElement('tbody'),
        oldTbody = table.tBodies[0],
        rows = oldTbody.rows,
        i = rows.length - 2;
        newTbody.appendChild(rows[0]);
        console.log(newTbody);
    while (i >= 0) {
        newTbody.appendChild(rows[i]);
        i -= 1;
    }

    oldTbody.parentNode.replaceChild(newTbody, oldTbody);

    reversed = (reversed) ? false : true;
    let sorted = document.getElementById('Mods-sorted');
    let Sort = document.getElementById('Mods-sort-button');
    if (reversed) {
        sorted.innerText = 'Sorted by: Last added';
        Sort.innerText = 'Date added ▼';
    } else {
        sorted.innerText = 'Sorted by: First added';
        Sort.innerText = 'Date added ▲';
    }
}
</script>

</html>