<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("partials/header") %>

    <div class="wrapper">
        <table>
            <tr>
                <th>ID:</th>
                <th>
                    User:
                </th>
                <th>Suggestion:</th>
                <th>Status:</th>
                <th>Description:</th>
            </tr>
            <% suggestions.forEach(function(suggestion) { %>
                <tr>
                    <td>
                        <%- suggestion.ID %>
                    </td>
                    <td>
                        <%- suggestion.User %>
                    </td>
                    <td>
                        <%- suggestion.Suggestion%>
                    </td>
                    <td>
                        <%- suggestion.Status%>
                    </td>
                    <td>
                        <%- suggestion.Description%>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>

</body>

</html>